{%  extends 'parciais/bootstrap.html' %}
{% block conteudo %}
<body>

     <div class="container">
        <div class="jumbotron">
            <h1 class="display-4"><p class="text-center">Inserção de dados no modelo de banco de dados ODM2</p></h1>
            <p class="lead"><p class="text-center"> Por esse link a ferramenta gera o preenchimento dos dados (data e dado) automaticamente no banco a partir do script no back-end do site. </p></p>

        </div>
    </div>
</body>

</html>

{% endblock %}