{% load static %}

<!DOCTYPE html>
<html lang="en">

{% include 'parciais/bootstrap.html'%}
<body>
     <div class="container">
        <div class="jumbotron">
            <h1 class="display-4"><p class="text-center">Projeto Chuva <i class="fas fa-cloud-rain"></i></p></h1>
            <p class="lead"><p class="text-center"> Esse ferramenta web tem como objetivo análisar os dados de precipitação da bacia hidrográfica do Rio Piaui,AL.</p></p>
            <hr class="my-4">
            <p class="text-center">Projeto desenvolvido para o Programa Institucional de Bolsas de Iniciação Científica (PIBIC)
                pela bolsista Verena Meirelles, com orientação do Prof. Dr. Chistopher Freire.</p>

        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> Análise dos dados</h5>
                        <p class="card-text"> Disponível consultas pré definidas ao banco de dados</p>
                        <a href='{% url 'consulta' %}' class="btn btn-primary">Consultar</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-#6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> Dados </h5>
                        <p class="card-text">Esse link foi usado como ferramenta para preenchimento dos dados.</p>
                        <a href='{% url 'dados' %}' class="btn btn-primary">Dados</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>